# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
pytest.xml
report.html

# Screenshots & Snapshots
screenshots/
tests/__snapshots__/
tests/snapshot_tests_failures/

# VS Code
.vscode/

# Project specifics
*.log
